<a href="https://colab.research.google.com/github/vmali007/Machine-Learning/blob/master/House_price_prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
file_path = '/content/train.csv'
file_path1 = '/content/test.csv'
train = pd.read_csv(file_path)
test = pd.read_csv(file_path1)

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor

def train_model(X,y,n_estimator):
  train_X,test_X,train_y,test_y = train_test_split(X,y,test_size = 0.1,random_state = 1)
  model = RandomForestRegressor(n_estimators=n_estimator,random_state=1)
  model.fit(train_X,train_y)
  score_ = model.score(test_X,test_y)
  return score_

In [ ]:
train = train.drop(['Alley','FireplaceQu','PoolQC','Fence','Fence'],axis=1)
test = test.drop(['Alley','FireplaceQu','PoolQC','Fence','Fence'],axis=1)

In [ ]:
X = train.drop('SalePrice',axis=1)
y = train.SalePrice
cat_col = [col for col in X.columns if X[col].dtype == 'object']
numerical_col = [col for col in X.columns if X[col].dtype in ['int64','float64']]
my_col = numerical_col + cat_col

In [ ]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(strategy ='most_frequent')
X_col = X.columns
test_col = test.columns
X = pd.DataFrame(imputer.fit_transform(X))
test = pd.DataFrame(imputer.transform(test))
X.columns = X_col
test.columns = test_col

In [ ]:
column = []
for col in cat_col:
    if test[col].unique() in X[col].unique():
        column.append(col)
cat_col = column

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: DeprecationWarning: elementwise comparison failed; this will raise an error in the future.
  This is separate from the ipykernel package so we can avoid doing imports until

In [ ]:
from sklearn.preprocessing import LabelEncoder

encoder = LabelEncoder()
for col in cat_col:
    encoder.fit(X[col])
    X[col] = encoder.transform(X[col])
    test[col] = encoder.transform(test[col])
"""encoder.fit(X[cat_col])
encode = X[cat_col].apply(encoder.transform)
encode_2 = test[cat_col].apply(encoder.transform)"""

'encoder.fit(X[cat_col])\nencode = X[cat_col].apply(encoder.transform)\nencode_2 = test[cat_col].apply(encoder.transform)'

In [ ]:
X = X[numerical_col + cat_col]
test = test[numerical_col + cat_col]
X.head()

  Id MSSubClass LotFrontage  ... PavedDrive SaleType SaleCondition
0  1         60          65  ...          2        8             4
1  2         20          80  ...          2        8             4
2  3         60          68  ...          2        8             4
3  4         70          60  ...          2        8             0
4  5         60          84  ...          2        8             4

[5 rows x 64 columns]

In [ ]:
from sklearn.feature_selection import SelectKBest,f_classif

selector = SelectKBest(f_classif,k=50)

X_new = selector.fit_transform(X,y)
X_new

array([[65.0, 8450, 7, ..., 1, 2, 4],
       [80.0, 9600, 6, ..., 1, 2, 4],
       [68.0, 11250, 7, ..., 1, 2, 4],
       ...,
       [66.0, 9042, 7, ..., 1, 2, 4],
       [68.0, 9717, 5, ..., 1, 2, 4],
       [75.0, 9937, 5, ..., 1, 2, 4]], dtype=object)

In [ ]:
selected_features = pd.DataFrame(selector.inverse_transform(X_new),index=X.index,columns=X.columns)

selected_features.head()

  Id MSSubClass LotFrontage  ... PavedDrive SaleType SaleCondition
0  0          0          65  ...          2        0             4
1  0          0          80  ...          2        0             4
2  0          0          68  ...          2        0             4
3  0          0          60  ...          2        0             0
4  0          0          84  ...          2        0             4

[5 rows x 64 columns]

In [ ]:
selected_col = selected_features.columns[selected_features.var() != 0]
X[selected_col].head()

  LotFrontage LotArea OverallQual  ... GarageType PavedDrive SaleCondition
0          65    8450           7  ...          1          2             4
1          80    9600           6  ...          1          2             4
2          68   11250           7  ...          1          2             4
3          60    9550           7  ...          5          2             0
4          84   14260           8  ...          1          2             4

[5 rows x 50 columns]

In [ ]:
train_model(X[selected_col],y,240)

0.9414919367022258

In [ ]:
model = RandomForestRegressor(n_estimators=240,random_state=1)
model.fit(X[selected_col],y)
y_p = model.predict(test[selected_col])

In [ ]:
df = pd.DataFrame({'Id':test.Id,'SalePrice':y_p})

In [ ]:
df.to_csv('Submition_1.csv',index=False)