### This notebook is use for the capstone project

In [37]:
import pandas as pd
import numpy as np

## Read Data From the wikipedia page

In [42]:
data = pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M',header=0)[0]

## Lets Print Data

In [43]:
data.head()

  Postal Code           Borough              Neighbourhood
0         M1A      Not assigned               Not assigned
1         M2A      Not assigned               Not assigned
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

### Delete the raw which have borough value not assigned

In [44]:
data = data[data['Borough'] != 'Not assigned']

### Group by  the Barough

In [64]:
data_selected = data.groupby(['Borough', 'Postal Code'], as_index=False).agg(','.join)

In [65]:
data_selected.head()

           Borough Postal Code                      Neighbourhood
0  Central Toronto         M4N                      Lawrence Park
1  Central Toronto         M4P                   Davisville North
2  Central Toronto         M4R  North Toronto West, Lawrence Park
3  Central Toronto         M4S                         Davisville
4  Central Toronto         M4T        Moore Park, Summerhill East

   ### Assign value to Neighbourhood if Neighborehood value is not assigned

In [69]:
data_selected['Neighbourhood'] = np.where(data_selected['Neighbourhood'] == 'Not assigned',data_selected['Borough'],data_selected['Neighbourhood'])

In [70]:
data_selected.head()

           Borough Postal Code                      Neighbourhood
0  Central Toronto         M4N                      Lawrence Park
1  Central Toronto         M4P                   Davisville North
2  Central Toronto         M4R  North Toronto West, Lawrence Park
3  Central Toronto         M4S                         Davisville
4  Central Toronto         M4T        Moore Park, Summerhill East

In [68]:
data_selected.shape

(103, 3)

In [71]:
data_selected.describe()

           Borough Postal Code Neighbourhood
count          103         103           103
unique          10         103            99
top     North York         M5C     Downsview
freq            24           1             4

# Q2. Asigned the latitude and longitude columns by using geospatial data

In [72]:
url = 'https://cocl.us/Geospatial_data'
geospatial_data = pd.read_csv(url)

In [73]:
geospatial_data.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [74]:
merge_data = pd.merge(data_selected,geospatial_data,on='Postal Code')

In [75]:
merge_data

,Borough,Postal Code,Neighbourhood,Latitude,Longitude
0,Central Toronto,M4N,Lawrence Park,43.728020,-79.388790
1,Central Toronto,M4P,Davisville North,43.712751,-79.390197
2,Central Toronto,M4R,"North Toronto West, Lawrence Park",43.715383,-79.405678
3,Central Toronto,M4S,Davisville,43.704324,-79.388790
4,Central Toronto,M4T,"Moore Park, Summerhill East",43.689574,-79.383160
...,...,...,...,...,...
98,York,M6C,Humewood-Cedarvale,43.693781,-79.428191
99,York,M6E,Caledonia-Fairbanks,43.689026,-79.453512
100,York,M6M,"Del Ray, Mount Dennis, Keelsdale and Silverthorn",43.691116,-79.476013
101,York,M6N,"Runnymede, The Junction North",43.673185,-79.487262
102,York,M9N,Weston,43.706876,-79.518188