### This notebook is use for the capstone project

In [1]:
import pandas as pd
import numpy as np

## Read Data From the wikipedia page

In [25]:
data = pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M',header=0)[0]

## Lets Print Data

In [26]:
data.head()

  Postal Code           Borough              Neighbourhood
0         M1A      Not assigned               Not assigned
1         M2A      Not assigned               Not assigned
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

In [27]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180 entries, 0 to 179
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Postal Code    180 non-null    object
 1   Borough        180 non-null    object
 2   Neighbourhood  180 non-null    object
dtypes: object(3)
memory usage: 4.3+ KB

### No Null value in the Table

In [29]:
data.describe()

       Postal Code       Borough Neighbourhood
count          180           180           180
unique         180            11           100
top            M7N  Not assigned  Not assigned
freq             1            77            77

### There are lots of values in the borough and neighbourhood are 'Not assigned'