### This notebook is use for the capstone project

In [37]:
import pandas as pd
import numpy as np

## Read Data From the wikipedia page

In [42]:
data = pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M',header=0)[0]

## Lets Print Data

In [43]:
data.head()

  Postal Code           Borough              Neighbourhood
0         M1A      Not assigned               Not assigned
1         M2A      Not assigned               Not assigned
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

### Delete the raw which have borough value not assigned

In [44]:
data = data[data['Borough'] != 'Not assigned']

### Group by  the Barough

In [64]:
data_selected = data.groupby(['Borough', 'Postal Code'], as_index=False).agg(','.join)

In [65]:
data_selected.head()

           Borough Postal Code                      Neighbourhood
0  Central Toronto         M4N                      Lawrence Park
1  Central Toronto         M4P                   Davisville North
2  Central Toronto         M4R  North Toronto West, Lawrence Park
3  Central Toronto         M4S                         Davisville
4  Central Toronto         M4T        Moore Park, Summerhill East

   ### Assign value to Neighbourhood if Neighborehood value is not assigned

In [69]:
data_selected['Neighbourhood'] = np.where(data_selected['Neighbourhood'] == 'Not assigned',data_selected['Borough'],data_selected['Neighbourhood'])

In [70]:
data_selected.head()

           Borough Postal Code                      Neighbourhood
0  Central Toronto         M4N                      Lawrence Park
1  Central Toronto         M4P                   Davisville North
2  Central Toronto         M4R  North Toronto West, Lawrence Park
3  Central Toronto         M4S                         Davisville
4  Central Toronto         M4T        Moore Park, Summerhill East

In [68]:
data_selected.shape

(103, 3)

In [71]:
data_selected.describe()

           Borough Postal Code Neighbourhood
count          103         103           103
unique          10         103            99
top     North York         M5C     Downsview
freq            24           1             4